node_modules
yarn.lock
.idea
package-lock.json

src/altNames/*

# Firebase credentials
*.json
!package.json
!tsconfig.json
!jsconfig.json

# Environment variables
.env
.env.local

# Data files
data/*.json
data/*.zip
data/*.txt

# Credentials
credentials/*.*
!credentials/.gitkeep